version: "3.9"

services:
  postgres:
    image: pgvector/pgvector:pg15  # pg15 + pgvector pre-installed
    container_name: rag_postgres
    restart: always
    environment:
      POSTGRES_USER: raguser
      POSTGRES_PASSWORD: ragpass
      POSTGRES_DB: ragdb
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - pgdata:/var/lib/postgresql/data



volumes:
  pgdata:
